<%= turbo_frame_tag "memo_#{memo.id}" do %>
  <div class="memo-card">
    <div class="memo-card__accent" style="background: <%= memo.accent_color %>;"></div>
    <div class="memo-card__body">
      <div class="memo-card__meta">
        <span class="memo-card__author"><%= memo.user.nickname %></span>
        <span class="memo-card__date"><%= memo.created_at.strftime("%Y.%m.%d %H:%M") %></span>
      </div>
      <h3 class="memo-card__title"><%= highlight_search(memo.title, @search_query) %></h3>
      <p class="memo-card__content"><%= highlight_search(memo.content, @search_query) %></p>
    </div>
    <% if authenticated? && Current.session&.user == memo.user %>
      <div class="memo-card__actions">
        <%= link_to edit_memo_path(memo), class: "memo-card__btn",
            data: { turbo_frame: "memo_#{memo.id}" } do %>
          <i class="fa-solid fa-pen-to-square"></i> 수정
        <% end %>
        <%= button_to memo, method: :delete, class: "memo-card__btn memo-card__btn--danger",
            form: { data: { turbo_confirm: "이 메모를 삭제하시겠습니까?" } } do %>
          <i class="fa-solid fa-trash"></i> 삭제
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
